.jfxTable {
    -fg-color-odd:   BLACK;
    -bg-color-odd:   WHITE;
    -fg-color-even:  BLACK;
    -bg-color-even:  #e6f9ff;
    -fg-color-hover: WHITE;
    -bg-color-hover: #000033;
    -fg-color-selected: -fg-color-hover;
    -bg-color-selected: -bg-color-hover;

    -header-height: 30;
    -row-height: 25;
}

.column-header-background {
    -fx-min-height: -header-height;
    -fx-pref-height: -header-height;
}
.table-row-cell {
    -fx-min-height: -row-height;
    -fx-pref-height: -row-height;
}

.table-row-cell:odd {
    -fx-background-color: -bg-color-odd;
}
.table-row-cell:odd .table-cell {
    -fx-text-fill: -fg-color-odd;
}

.table-row-cell:even {
    -fx-background-color: -bg-color-even;
}
.table-row-cell:even .table-cell {
    -fx-text-fill: -fg-color-even;
}

.table-cell {
    -fx-alignment: CENTER-LEFT;
}
.table-cell.centered {
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
}

.table-row-cell:filled:selected .table-cell,
.jfxTable:row-selection .table-row-cell:filled:hover .table-cell,
.jfxTable:row-selection .table-row-cell:filled:selected:hover .table-cell,
.jfxTable:row-selection .table-row-cell:filled:selected:focused:hover .table-cell,
.jfxTable:row-selection .table-row-cell:filled:selected:focused  .table-cell {
    -fx-text-fill: -fg-color-selected;
}

.table-row-cell:filled:selected,
.jfxTable:row-selection .table-row-cell:filled:hover,
.jfxTable:row-selection .table-row-cell:filled:selected:hover,
.jfxTable:row-selection .table-row-cell:filled:selected:focused:hover,
.jfxTable:row-selection .table-row-cell:filled:selected:focused  {
    -fx-background-color: -bg-color-selected;
}
